@import "tailwindcss";

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    min-height: calc(var(--vh) * 100);

    background: linear-gradient(45deg, #101010, #202020);

    overflow: hidden;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.scale-in-enter-active {
    animation: scale-in 0.15s;
}
.scale-in-leave-active {
    animation: scale-in 0.15s reverse;
}
@keyframes scale-in {
    from {
        transform: scale(0%);
    }

    to {
        transform: scale(100%);
    }
}

.fade-in-enter-active {
    animation: fade-in 0.25s;
}
.fade-in-leave-active {
    animation: fade-in 0.25s reverse;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}