* {
	font-family: Roboto, Arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;

	position: relative;
	
	color: white;

	background-color: #101010;
	
	background-image: url('/background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	overflow-x: hidden;
	margin: 0;
}

#__nuxt {
	position: relative;
}

a {
	text-decoration: none;
	color: white;
}

h2 {
	text-shadow: black 1px 1px 5px;
}

.box {
	border: 1px solid #20202084;
	border-radius: 5px;

	padding: 1rem;

	background-color: #15151571;
	backdrop-filter: blur(5px);
}

.card {
	flex: 1;

	display: flex;
    flex-direction: column;

    gap: 0.5rem;

    border: 1px solid #202020;
    border-radius: 5px;

    background-color: #19191994;

    padding: 1rem;
	min-width: 200px;

	box-shadow: rgb(14, 14, 14) 1px 1px 10px;
	backdrop-filter: blur(5px);
}

.cardless {
	flex: 1;

	display: flex;
    flex-direction: column;

    gap: 0.5rem;

    padding: 1rem;
	min-width: 200px;

	text-shadow: black 1px 1px 1px;
	backdrop-filter: blur(5px);
}

.flex {
	display: flex;
}
.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}
.gap-05 {
	gap: 0.5rem;
}
.gap-1 {
	gap: 1rem;
}
.center-align {
	align-items: center;
}
.center-justify {
	justify-content: center;
}
.center {
	align-items: center;
	justify-content: center;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.tags {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    gap: 0.5rem;
}
.tag {
    display: flex;

    align-items: center;
    justify-content: center;

    border: 1px solid rgb(67, 161, 255);
    border-radius: 5px;

    background-color: dodgerblue;

    padding: 0.5rem;

	user-select: none;
}

.page {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    padding: 2rem;

    opacity: 0;

    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  color: black;
  background-color: white;
  border: 3px solid #73AD21;
}

.hidden {
	display: none !important;
}

.p-galleria-prev-button,
.p-galleria-next-button {
	background-color: rgba(0, 0, 0, 0.5);
}

.p-galleria-prev-button:not(.p-disabled):hover,
.p-galleria-next-button:not(.p-disabled):hover {
	background-color: rgba(0, 0, 0, 0.25);
}